
.responsave{
    height: 200px;
    float: left;
    width: 230px;
    background: white;
}
// @media screen and (min-width:900px){
//     .responsave{
//         width: 23%;
//     }
// }
// @media screen and (max-width:900px){
//     .responsave{
//         width: 45%;
//     }
// }